.contacts {
    //background-color: #212121;
    &__container {
        max-width: 1230px;
    }
    &__box {
        position: relative;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        // padding: 65px 48px 65px 48px;
       // background-color: #5D5DFF;
       padding-top: 80px;
       padding-bottom: 80px;
        z-index: 2;
    }
    &__column1 {
        align-self: flex-start;
        background-color: #FFFFFF;
        padding: 40px;
        box-shadow: 0 0 10px #B0B0B0;
        
    }
    &__column2 {
        align-self: flex-end;
        max-width: 600px;
    }
    
    &__background-image {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        z-index: 0;
   }
   &__title {
        font-size: 40px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 60px;
        text-align: left;
        margin-bottom: 34px;
   }
    &__subtitle{
        margin: 0;
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.5;
        color: #000000;
    }
    &__subcolumn{
        display: flex;
        justify-content: start;
        gap: 19px;
        padding-bottom: 32px;
    }
    &__subcolumn-img {
        width: 30px;
        height: 30px;
    }
    &__tel {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.1;
        color: #000000;
    }
    &__tel3 {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.1;
        color: #000000;
    }
    &__column2 {
        display: flex;
        justify-content: space-evenly;
    }
    // &__form {
    //     display: flex;
    //     justify-content: center;
    //     //z-index: 2;
    // }
    &__desc1 {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.1;
        color: #FFFFFF;
        max-width: 395px;
        margin: 0;
        margin-bottom: 32px;
    }
    &__subform {
        display: flex;
        justify-content: space-between;
    }
    &__input1 {
        background-color: #FFFFFF;
        margin-right: 30px;
        color: #B0B0B0;
        max-width: 200px;
        //width: 320px;
        height: 48px;
        margin-bottom: 32px;
    }
    &__input2 {
        background-color: #FFFFFF;
        color: #B0B0B0;
        max-width: 200px;
        //width: 320px;
        height: 48px;
        margin-bottom: 32px;

    }
    &__submit {
        padding: 20px 65px 20px 65px;
        background-color: #DB2F09;
        color: #FFFFFF;
        max-width: 200px;
        max-height: 60px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.1;
        margin-right: 30px;
    }
    &__desc2 {
        font-weight: 400;
        font-size: 11px;
        line-height: 0.9;
        color: #B0B0B0;
        max-width: 200px;
    }
}