.features {
    padding: 160px 0 80px;
    background-color: #FFFFFF;
    &__container {
        position: relative;
        max-width: 1230px;
        z-index: 2;
    }
    &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        max-width: 1230px;
        margin: 0 auto;
    }
    // &__title,
    // &__desc {
    //     //max-width: 768px;
    //     //margin: 0 auto;
    // }
    &__title {
        font-weight: 700;
        font-size: 40px;
        color: #000000;
        margin: 0 auto;
        max-width: 1230px;
        //margin: 0;
        text-align: left;  
        margin-bottom: 40px;
      
    }
    &__desc {
        margin-bottom: 80px;
    }
    &-item {
         padding: 10px;
         border: solid 2px #DDDDDD;
         box-shadow: 0 0 10px rgba($color: #B0B0B0, $alpha: 0.5);

         //position: relative;
        // border-radius: 12px;
        &__icon {
            text-align: right;
            // margin-left: 70%;
            background-color: #FFFFFF;
             & > img {
                width: 80px;
                height: 80px;
             }

        }
        // &__transportation-img  {
        //     width: 80px;
        //     height: 80px;
        // }
        

        &__desc {
            font-weight: 500;
            font-size: 18px;
            color: #333333;
            line-height: 1.5;
            margin: 0 0 5px;
            text-align: left;
        }
    }
}