.footer {
    padding: 200px 0;
    background-color: #2F414F;
    padding-bottom: 45px;
    &__container {
        max-width: 1104px;
    }
    &__box {
        display: flex;
        margin: 0 auto;
        justify-content: start;
    }
    &__logo {
        display: flex;
        width: 226px;
        height: 45px;
        margin-bottom: 32px;
    }
    &__title {
        text-align: left;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 31px;
    }
    &__tel {
        color: rgba($color: #FFFFFF, $alpha: 0.7);
        font-weight: 400;
        font-size: 16px;
        line-height: 0.9;
        margin-bottom: 16px;
    }
    &__tel3 {
        color: rgba($color: #FFFFFF, $alpha: 0.7);
        font-weight: 400;
        font-size: 18px;
        line-height: 0.9;
        margin-bottom: 16px;
    }
    &__desc {
        max-width: 352px;
        color: #9BA9B4;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 63px;
    }

    &__copyright {
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        color: rgba($color: #FFFFFF, $alpha: 0.7);
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }
   
    &__h4-title {
        font-weight: 700;
        font-size:  24px;
        line-height: 1.5;
        color:  #FFFFFF;
    }

    &__list {
        list-style-type: none;
    }

    &__link {
        font-weight: 400;
        font-size:  18px;
        line-height: 1;
        color: rgba($color: #FFFFFF, $alpha: 0.7);
    }

    li {
        margin-bottom: 16px;
    }

    &__box-2 {
        padding-top: 55px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }
    &__webdev {
        display: flex;
        justify-content: right;
        & > img {
            width: 40.5px;
            height: 32px;
        }
    }

}